<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Credentials</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="ion-display-flex ion-flex-column ion-justify-content-end mh-100">
    <ion-text color="danger" class="ion-margin-bottom ion-text-center">
      <strong>Please be careful, <br />use a read-only permission key.</strong>
    </ion-text>

    <ion-input
      label="Enter API Key"
      label-placement="floating"
      fill="outline"
      placeholder=""
      name="key"
      [value]="apiKeyValue()"
      (ionInput)="changeApiKey($event, 'apiKey')"
    ></ion-input>

    <ion-input
      label="Enter Secret Key"
      label-placement="floating"
      fill="outline"
      placeholder=""
      type="password"
      name="key2"
      [value]="apiKey2Value()"
      (ionInput)="changeApiKey($event, 'apiKey2')"
    ></ion-input>

    @if (!hasCredentials() || !pristine()) {
    <ion-button expand="block" class="ion-margin-top" (click)="saveCredentials()">Save</ion-button>
    } @if (hasCredentials()) {
    <ion-button
      color="warning"
      expand="block"
      class="ion-margin-top"
      (click)="clearCredentials()"
    >Remove Credentials</ion-button>
    }
  </div>
</ion-content>
