<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Credentials</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="ion-display-flex ion-flex-column ion-justify-content-end mh-100">
    <ion-text color="danger" class="ion-margin-bottom ion-text-center">
      <strong>Please be careful, <br />use a read-only permission key.</strong>
    </ion-text>

    <div class="ion-margin-bottom">
      <ion-input
        label="Enter API Key"
        label-placement="floating"
        fill="outline"
        placeholder=""
        name="key"
        [value]="apiKeyValue()"
        (ionInput)="changeApiKey($event, 'apiKey')"
      ></ion-input>
    </div>

    <div class="ion-margin-bottom">
      <ion-input
        label="Enter Secret Key"
        label-placement="floating"
        fill="outline"
        placeholder=""
        type="password"
        name="key2"
        [value]="apiKey2Value()"
        (ionInput)="changeApiKey($event, 'apiKey2')"
      ></ion-input>
    </div>

    @if (!hasCredentials() || !pristine()) {
    <div class="ion-margin-bottom ion-margin-top">
      <ion-button expand="block" (click)="saveCredentials()">Save</ion-button>
    </div>
    } @if (hasCredentials()) {
    <div class="ion-margin-bottom">
      <ion-button
        color="warning"
        expand="block"
        class="ion-margin-top"
        (click)="clearCredentials()"
      >Remove Credentials</ion-button>
    </div>
    }
  </div>
</ion-content>
