.text-bold {
  font-weight: bold;
}

.text-xl {
  font-size: 1.5rem;
}

.no-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 100%;
}

#present-alert[hidden] {
  display: none !important;
}

.float-btn {
  transform: translateX(50%);
  transition: transform 0.3s ease-in-out;

  &.fab-button-close-active {
    transform: translateX(0);
  }
}
