<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Spot</ion-title>
    @if(coins().length) {
    <ion-text
      class="ion-padding-end"
      [ngClass]="{
        'txt-color-positive': totalSpotProfit() > 0,
        'txt-color-negative': totalSpotProfit() < 0
      }"
      slot="end"
    >
      {{ totalSpotProfit() | currency:'USD':'symbol':'1.2-2' }}
    </ion-text>
    }
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Spot</ion-title>
      @if(coins().length) {
      <ion-text
        class="ion-padding-end"
        [ngClass]="{
          'txt-color-positive': totalSpotProfit() > 0,
          'txt-color-negative': totalSpotProfit() < 0
        }"
        slot="end"
      >
        {{ totalSpotProfit() | currency:'USD':'symbol':'1.2-2' }}
      </ion-text>
      }
    </ion-toolbar>
  </ion-header>

  @if(isHandset$ | async) {
    <app-spot-table-mobile></app-spot-table-mobile>
  } @else {
    <app-spot-table-desktop></app-spot-table-desktop>
  }

  @if(!coins().length) {
  <div class="no-data">
    @if(isLoading()) {
    <ion-spinner color="secondary"></ion-spinner>
    } @else {
    <p>No data available. Please upload a CSV file.</p>
    }
  </div>
  }

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="primary" [disabled]="isLoading()">
      <ion-icon name="menu"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="start">
      <ion-fab-button color="secondary" [disabled]="isLoading()" (click)="openFilePicker()">
        <ion-icon name="document-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button
        id="present-alert"
        color="danger"
        [disabled]="isLoading()"
        [hidden]="!coins().length"
      >
        <ion-icon name="trash-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-alert
    trigger="present-alert"
    header="Be Careful!"
    subHeader="Are you sure you want to delete all spot transactions?"
    message="This action cannot be undone."
    [buttons]="alertButtons"
  ></ion-alert>
</ion-content>

<input type="file" accept=".csv" #fileInput hidden (change)="onFileSelected($event)" />
