<ion-menu side="end" contentId="spot-content" menuId="spot-settings">
  <ion-header>
    <ion-toolbar>
      <ion-title>Spot Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list class="mh-100">
      <ion-item>
        <ion-toggle
          [checked]="spotTableSettingsService.hideCoinsLessThanOneDollar()"
          justify="space-between"
          (ionChange)="spotTableSettingsService.hideCoinsLessThanOneDollar.set($event.detail.checked)"
          >Hide coins less $1</ion-toggle
        >
      </ion-item>
      <ion-item>
        <ion-toggle
          [checked]="spotTableSettingsService.hideZeroBuyCoins()"
          justify="space-between"
          helperText="Hide coins which you haven't bought. For example coins from staking or airdrop"
          (ionChange)="spotTableSettingsService.hideZeroBuyCoins.set($event.detail.checked)"
          >Hide zero buy coins</ion-toggle
        >
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="spot-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        @if(coins().length) {
        <ion-text
          color="{{totalSpotProfit() > 0 ? 'success' : totalSpotProfit() < 0 ? 'danger' : ''}}"
        >
          {{ totalSpotProfit() | currency:'USD':'symbol':'1.2-2' }}
        </ion-text>
        } @else { Spot }
      </ion-title>
      @if (hasCredentials()) {
      <ion-buttons slot="primary">
        <ion-menu-toggle menu="spot-settings">
          <ion-button fill="clear">
            <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
        <ion-button fill="clear" (click)="syncData()">
          @if (bybitAPITxsService.isLoading()) {
          <ion-icon slot="icon-only" class="rotate" name="sync-outline"></ion-icon>
          } @else {
          <ion-icon slot="icon-only" name="cloud-download-outline"></ion-icon>
          }
        </ion-button>
      </ion-buttons>
      }
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    @if(coins().length) { @if(isHandset$ | async) {
    <app-spot-table-mobile></app-spot-table-mobile>
    } @else {
    <app-spot-table-desktop></app-spot-table-desktop>
    } } @else {
    <div class="no-data">
      @if(isLoading()) {
      <ion-spinner color="secondary"></ion-spinner>
      } @else if(hasCredentials()) {
      <ion-button (click)="syncData()">
        Get Data @if (bybitAPITxsService.isLoading()) {
        <ion-icon slot="end" class="rotate" name="sync-outline"></ion-icon>
        } @else {
        <ion-icon slot="end" name="cloud-download-outline"></ion-icon>
        }
      </ion-button>
      } @else {
      <ion-button routerLink="/credentials">Set Credentials</ion-button>
      }
    </div>
    }
  </ion-content>
</div>
