<table
  class="spot-table-mobile"
  mat-table
  [dataSource]="spotSource"
  matSort
  matSortActive="currency"
  matSortDirection="desc"
  matSortDisableClear="true"
  [attr.hidden]="!spotSource.data.length ? true : null"
>
  <ng-container matColumnDef="currency">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Currency</th>
    <td mat-cell *matCellDef="let r">
      {{ r.name }}<br />
      {{ r.totalCoins }}<br />
      <span class="txt-gray">{{ r.totalCost | currency : 'USD' : 'symbol' : '1.2-2' }}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>
      <div>
        Price<br/>
        <small class="txt-gray ion-text-nowrap">cur / buy</small>
      </div>
    </th>
    <td class="ion-text-end" mat-cell *matCellDef="let r">
      {{ r.marketPrice | currency : 'USD' : 'symbol' : '1.2-2' }}<br />
      {{ r.avgBuyPrice | currency : 'USD' : 'symbol' : '1.2-2' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="profit">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>
      <div>
        Profit<br />
        <small class="txt-gray ion-text-nowrap">total / cur / cur%</small>
      </div>
    </th>
    <td
      mat-cell
      *matCellDef="let r"
      [ngClass]="{ 'txt-color-positive': r.profit > 0, 'txt-color-negative': r.profit < 0 }"
    >
      <div
        [ngClass]="{
          'txt-color-positive': r.totalProfit > 0,
          'txt-color-negative': r.totalProfit < 0
        }"
      >
        {{ r.totalProfit | currency : 'USD' : 'symbol' : '1.2-2' }}
      </div>
      <div
        [ngClass]="{
          'txt-color-positive': r.currentProfit > 0,
          'txt-color-negative': r.currentProfit < 0
        }"
      >
        {{ r.currentProfit | currency : 'USD' : 'symbol' : '1.2-2' }}<br />
        {{ r.prcCurrentProfit | number : '1.2-2' }}%
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
